.mt-3 {
    margin-top: 30px;
}

.typewrite > .wrap {
    border-right: 0.08em solid #333
}

/* header */
.header {
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.header.scroll {
    background-color: var(--white-color);
    box-shadow: 3px 3px 15px rgba(136, 136, 136, 0.274);
}

.nav {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 6px 12px;
}

.nav-item.active .nav-item__link {
    color: var(--link-color);
}

.nav-item__logo {
    margin-right: auto;
}

.nav-item__logo-img {
    height: 38px;
}

.nav-item__link {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
}

.break-flex {
    display: none;
}

.mobile-menu__btn {
    display: none;
}

.mobile-menu__btn {
    float: right;
    padding: 9px 10px;
    margin: 5px 15px 5px 0;
    z-index: 1;
    display: none;
}

.mobile-menu__btn:hover,
.mobile-menu__btn:focus {
    background-color: #ddd;
    border-radius: 4px;
}

.mobile-menu__icon {
    color: #777;
    font-size: 2.2rem;
}

/* about */
#about {
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height));
}

.about-content {
    height: 100%;
}

.about-left {
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.about-left__content {
    height: fit-content;
    align-self: center;
}

.about-left__hi {
    line-height: 2rem;
    font-size: 1.8rem;
}

.about-left__name {
    margin-top: 5px;
    font-weight: 500;
    font-size: 6rem;
    line-height: 6rem;
    text-transform: uppercase;
}

.about-left__job {
    margin-top: 5px;
    font-size: 2.2rem;
    line-height: 2.2rem;
}

.about-left__more {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-top: 10px;
}

.silver-medal {
    color: var(--link-color);
}

.silver-medal:hover {
    cursor: pointer;
    color: var(--link-hover-color);
}

.about-left__contact {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.about-left__link {
    font-size: 3rem;
    color: var(--link-color);
}

.phone-btn {
    cursor: pointer;
    position: relative;
}

.phone-btn:hover {
    color: var(--link-hover-color);
}

.phone-btn:hover .phone-number {
    display: block;
}

.phone-number {
    display: none;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    padding: 5px 10px;
    font-size: 1.6rem;
    background-color: var(--link-color);
    color: #fff;
}

.phone-number::before {
    content: '';
    border-width: 13px 15px;
    border-style: solid;
    border-color: transparent var(--link-color) transparent transparent;
    position: absolute;
    left: -30px;
    top: 0;
}

.about-left__link + .about-left__link {
    margin-left: 5px;
}

.about-right {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.about-right__img {
    position: absolute;
    height: 600px;
    bottom: 0;
}

.about-right__img-small {
    right: 40px;
}

/* section */
.content-section {
    padding: 80px 0;
}

.section-heading {
    text-align: center;
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 40px;
}

.section-status {
    text-align: center;
    font-style: italic;
    line-height: 1.8rem;
}

.section-status__link {
    color: var(--link-color);
}

/* project, experience */
.project-list,
.experience-list {
    display: flex;
    flex-direction: column;
}

.project-item,
.experience-item {
    position: relative;
    line-height: 1.8rem;
}

.project-item + .project-item,
.experience-item + .experience-item {
    margin-top: 50px;
}

.project-item:not(:first-child)::before,
.experience-item:not(:first-child)::before {
    content: '';
    display: block;
    position: absolute;
    border-top: 1px solid rgb(115, 115, 115, 0.2);
    width: 80%;
    right: 10%;
    top: -20px;
}

.project-item__heading,
.experience-item__heading {
    display: flex;
    align-items: center;
}

.project-item__name,
.experience-item__job {
    margin-right: auto;
    font-size: 3rem;
    font-weight: 500;
    line-height: 3.2rem;
}

.project-item__language,
.experience-item__company {
    margin: 5px 0 16px 0;
}

.project-item__content,
.experience-item__content {
    display: flex;
    align-items: flex-end;
    color: #000;
}

.project-item__description {
    margin-top: 3px;
    max-width: 800px;
}

.project-item__link,
.experience-item__link {
    margin-left: auto;
    color: var(--link-color);
}

/* experience */

/* skills */
.skills-content__heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.skills-content__list-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.skills-content__item-horizontal {
    margin: 5px;
}

/* .skills-content__item-horizontal + .skills-content__item-horizontal {
    margin-left: 10px;
} */

.item-horizontal__img {
    width: 40px;
    height: 40px;
}

.item-horizontal__img--large {
    width: 80px;
    height: 40px;
    transform: scale(200%);
}

.item-horizontal__icon {
    font-size: 4rem;
}

.skills-content__list-vertical {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-content__item-vertical {
    font-size: 1.8rem;
}

.skills-content__item-vertical + .skills-content__item-vertical {
    margin-top: 8px;
}

.item-vertical__icon {
    margin-right: 8px;
}

/* photo */
.photo-content {
    width: 90%;
    display: flex;
    margin: auto;
}

.photo-item {
    cursor: pointer;
}

.photo-item__img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* more */
.more-content {
    margin-top: 10px;
}

.more-list {
    display: flex;
    flex-direction: column;
}

.more-item {
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
}

.more-item__text {
    margin-right: auto;
}

.more-item__link {
    color: var(--link-color);
}

.more-item__link + .more-item__link {
    margin-left: 10px;
}

/* footer */
.footer {
    background-color: #f5f5f5;
    min-height: 40px;
    padding: 12px 0;
}

.footer__text {
    margin: 0;
    font-size: 1.4rem;
    text-align: center;
    color: #737373;
}

/* modal */
.modal {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.active {
    display: flex;
}

.modal-container {
    display: flex;
    flex-direction: row;
    width: 600px;
    min-height: 600px;
    background-color: var(--white-color);
    position: relative;
    animation: growth ease 0.4s, fadeIn ease 0.4s;
}

.modal-btn-close {
    cursor: pointer;
    position: absolute;
    font-size: 3rem;
    color: var(--text-color);
    opacity: 0.2;
    right: 20px;
    top: 10px;
}

.modal-img {
    display: none;
    object-fit: contain;
    height: 100%;
    width: 100%;
    align-self: center;
}

.modal.active .modal-img {
    display: block;
}
